body{
    margin:0;
    padding:0;
    margin-top: 0;
}

.container {
    background-image: url(../img/tropical_island_edit.png);
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(12,1fr);
    width: 100vw;
    height: 100vh;
}

main {
    display: grid;
    grid-template-columns: inherit;
    grid-template-rows: inherit;
    width: 100vw;
    height: 100vh;
}

.menu{
    width: 80vw;
    height: 100vh;
    position: absolute;
    background: lightblue;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
    opacity: 0.95;
    display: none;
    z-index: 99;
}

.show {
    display: block;
}

.businessman {
    grid-column: 2/6;
    grid-row: 8/12;
}

.text {
    
}

i.material-icons {
    font-size: 3em;
}


.logo {
    grid-row: 2/4;
    grid-column: 3/8;
    background-image: url(../img/logo.png);
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Marck Script', cursive;
    font-size: 25px;

}

.username {
    grid-row: 5/6;
    grid-column: 3/8;
    text-align: center;
    border-radius: 25px;
    border: none;
    background-color: lightblue;
    opacity: 0.8;
}

.password {
    grid-row: 7/8 ;
    grid-column: 3/8;
    text-align: center;
    border-radius: 25px;
    border: none;
    background-color: lightblue;
    opacity: 0.8;
}

.signin {
    grid-row: 9/10;
    grid-column: 3/8;
    border-radius: 25px;
    border: none;
    background-color: lightblue;
    opacity: 0.8;
    
}

.noaccount {
    grid-row: 11/12;
    grid-column: 3/8;
    border-radius: 25px;
    border: none;
    background-color: lightblue;
    opacity: 0.8;
}

ul li {
    font-size: 25px;
}

.karibien {
    grid-row: 3/5;
    grid-column: 2/9;
    background-color: blue;
}

.atlanten {
    grid-row: 6/8;
    grid-column: 2/9;
    background-color: blue;
}

.maldiverna {
    grid-row: 9/11;
    grid-column: 2/9;
    background-color: blue;
}





@media only screen and (min-device-width:900px) {
   .container {
    background-image: url(../img/tropical_island.jpg);
    width: 100vw;
    height: 100vh;
    }
    .logo {
        grid-row: 2/4;
        grid-column: 3/8;
        background-image: none;
        text-align: center;
        font-family: 'Source Sans Pro', sans-serif;
        font-family: 'Marck Script', cursive;
        font-size: 25px;
    
    }
    
}
