<a href="index.html"><i class="material-icons">arrow_back</i></a>
<div class="karibien">
    <p> New York - Karibien</p>
</div>
<div class="atlanten">
    <p>Göteborg - New York</p>
</div>
<div class="maldiverna">
    <p> Göteborg - Maldiverna</p>
</div>