body{
    margin:0;
    padding:0;
    margin-top: 0;
}

.container {
    background-image: url(../img/tropical_island_edit.png);
    width: 100vw;
    height: 100vh;
    
}

main {
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(12,1fr);
    width: 100vw;
    height: 100vh;
}

i.material-icons {
    font-size: 3em;
}


.menu{
    width: 80vw;
    height: 100vh;
    position: absolute;
    background: blue;
    display: none;
}

.show {
    display: block;
}


.logo {
    grid-row: 2/4;
    grid-column: 3/8;
    background-image: url(../img/logo.png);
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Marck Script', cursive;
    font-size: 25px;

}

.username {
    grid-row: 5/6;
    grid-column: 3/8;
    text-align: center;
    border-radius: 25px;
    border: none;
    background-color: lightblue;
    opacity: 0.8;
}

.password {
    grid-row: 7/8 ;
    grid-column: 3/8;
    text-align: center;
    border-radius: 25px;
    border: none;
    background-color: lightblue;
    opacity: 0.8;
}

.signin {
    grid-row: 9/10;
    grid-column: 3/8;
    border-radius: 25px;
    border: none;
    background-color: lightblue;
    opacity: 0.8;
    
}

.noaccount {
    grid-row: 11/12;
    grid-column: 3/8;
    border-radius: 25px;
    border: none;
    background-color: lightblue;
    opacity: 0.8;
}

