body{
    margin:0;
    padding:0;
    margin-top: 0;
}

.container {
    background-image: url(../img/tropical_island_edit.png);
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(12,1fr);
    
}

.logo {
    grid-row: 2/4;
    grid-column: 3/8;
    background-color: red;
    text-align: center;

}

.username {
    grid-row: 5/6;
    grid-column: 3/8;
}

.password {
    grid-row: 7/8 ;
    grid-column: 3/8;
}

.signin {
    grid-row: 9/10;
    grid-column: 3/8;
}

.noaccount {
    grid-row: 11/12;
    grid-column: 3/8;
}

.menu {
    grid-row: 1/1;
    grid-column: 9/9;
}